body{
    margin: 25px;

}
.icon-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: gray;
    background-color: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    

}
.icon-button:hover{
    cursor: pointer;
}
.icon-button:active{
    background-color: #cccccc;
}
.icon-icon__bagdge{
    position: absolute;
    top: -0;
    right: -10px;
    width: 40px;
    height: 40px;
    background-color: red;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}